.boxSignUp {
    width: 80%;
    padding: 40px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow:0px 24px 48px 0 rgba(0,0,0,0.1);
    text-align: left;
}

.previewImg {
    border-radius: 50% !important;
    vertical-align: middle;
    border-style: none;
    position: relative;
    max-width: 250px;
    margin-bottom: 20px;
}

.PWmessage 
{
    color: red;
    position: relative;
}

.PWmessage p 
{
    padding: 1px;
    font-size: 12px;
    margin-bottom: 0px;
}